
.body-grid{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(7, 12, 37);
}
.grid-columns{
    width: 460px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 140px 70px 70px;
    gap: 8px;
    grid-template-areas: 
        "red red yellow"
        "green blue1 blue1"
        "green blue2 blue2";
}
.red{
    background-color: rgb(255, 55, 0);
    grid-area: red;
}
.yellow{
    background-color: rgb(255, 174, 0);
    grid-area: yellow;
}
.green{
    background-color: green;
    grid-area: green;
}
.blue{
    background-color: rgb(38, 114, 255);
}
.blue-1{
    grid-area: blue1;
}
.blue-2{
    grid-area: blue2;
}